* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 5% 10%;
    height: 100vh;
    background-color: lightblue;
}

/* MAIN */

.main {
    height: 100%;
    width: 100%;
    margin-top: 2vh;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 200px);
    gap: 10px;
    overflow: auto;
}

/* HEADER */

.header {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BUTTON */

.add_btn {
    width: 10vw;
    height: 5vh;
    border-radius: 20px;
    background-color: rgb(204, 77, 27);
    border-style: none;
    color: #fff;
}

/* CARD STYLING */

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.205);
}